<div id="top-scroller" class="pointer-events-none absolute top-[110vh] bottom-0 w-12 ltr:right-0 rtl:left-0 back-to-top">
    <a href="#the-top"
       class="pointer-events-auto sticky top-[calc(100vh-5.5rem)] flex h-12 w-12 mb-16 items-center justify-center rounded-full bg-neutral/50 text-xl text-neutral-700 hover:text-primary-600 dark:bg-neutral-800/50 dark:text-neutral dark:hover:text-primary-400"
       >
    <span>&uarr;&nbsp;</span>
    <span class="scrollpercent">
       <span id="back_to_top_text">0</span>%
    </span>
    </a>
</div>

<script>
    let back2TopText = document.querySelector('#back_to_top_text');

    window.addEventListener('scroll', function () {
        let percent = document.scrollingElement.scrollTop / (document.scrollingElement.scrollHeight - document.scrollingElement.clientHeight) * 100;
        if (back2TopText) {
            back2TopText.textContent = Math.floor(percent);
        }
    });

</script>